@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.blue-bg {
  background-color: #004584;
}

.dark-bg {
  background-color: #000000;
}

.blue-text {
  color: #004584;
}

.btn-cls {
  background-color: #004584;
  color: #ffffff;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.4s all;
}
.btn-cls:hover {
  color: #ffffff;
  background-color: #000000;
}

.brd-btn {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  outline: none;
  border-radius: 5px;
  transition: 0.4s all;
}
.brd-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.upper-header .header-media a {
  margin: 0 5px;
}

header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.78);
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 999;
  top: 40px;
}
header nav li {
  margin: 0 5px;
}
header nav li a {
  color: #000000 !important;
}
header .sticky-logo {
  display: none;
}

.sticky {
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 68, 132, 0.6235294118);
}
.sticky .sticky-logo {
  display: block;
}
.sticky .logo {
  display: none;
}
.sticky nav li a {
  color: #ffffff !important;
}

/* Default dropdown styling */
.dropdown-menu {
  display: none; /* Hide dropdown menu by default */
  position: absolute;
  z-index: 1000;
}

/* Show dropdown on hover for large screens */
@media (min-width: 1000px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
}
/* Mobile styles (handled by JavaScript) */
.hero-sec {
  height: calc(100vh - 45px);
  overflow: hidden;
}
.hero-sec img {
  height: calc(100vh - 45px);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-sec .swiper-slide {
  position: relative;
}
.hero-sec .swiper-slide::before {
  background-color: #000000;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.hero-sec .swiper-slide h1 {
  font-size: 4.5rem;
}

.price-range-slider {
  width: 50%;
  padding: 10px 40px 26px 23px;
  margin: 10px auto 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
}

.range-value {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 10px auto;
}
.range-value input {
  background-color: transparent;
  color: #000000;
  font-size: 15px;
  border: none;
  width: 160px;
  text-align: center;
}

.range-bar {
  background: #000;
  height: 3px;
}

.range-bar .range-track {
  background: #004584;
  height: 100%;
}

.range-bar .range-handle {
  position: absolute;
  top: -7px;
  width: 17px;
  height: 17px;
  background: #fff;
  border: 2px solid #004584;
  border-radius: 50%;
  cursor: pointer;
}

.category .category-box {
  overflow: hidden;
  border-radius: 10px;
}
.category .category-box:hover h5 {
  transform: translate(0%, -50%);
  top: 50%;
}
.category .category-box:hover img {
  transform: scale(1.2);
  opacity: 0.6;
}
.category .category-box figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s all;
}
.category .category-box h5 {
  top: -25%;
  left: 0;
  transition: 0.4s all;
}
.category .category-box h5:hover {
  background-color: #000000 !important;
  color: #ffffff;
}

.forsale {
  background: url(../images/form-bg.png) no-repeat center/cover;
}
.forsale::before {
  position: absolute;
  background-color: #000000;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.hm-contact input:focus {
  border: 1px solid #004584;
  box-shadow: 0px 2px 8px rgba(128, 128, 128, 0.231372549);
}
.hm-contact textarea:focus {
  border: 1px solid #004584;
  box-shadow: 0px 2px 8px rgba(128, 128, 128, 0.231372549);
}
.hm-contact label {
  transition: 0.4s all !important;
}
.hm-contact .hm-contact-text {
  background-color: rgba(0, 0, 0, 0.59);
}

.search-bar {
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
}
.search-bar h1 {
  font-size: 3rem;
}
.search-bar .search-sec .nav-pills {
  width: -moz-max-content;
  width: max-content;
}
.search-bar .search-sec .nav-pills li button {
  background-color: rgba(255, 255, 255, 0.5568627451);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin: 0 5px;
  color: #004584;
  padding: 10px 30px;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
}
.search-bar .search-sec .nav-pills li .active {
  background-color: #004584;
  color: #ffffff;
}
.search-bar .search-sec .tab-content {
  background-color: rgba(255, 255, 255, 0.5568627451);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.heading h2 {
  color: #004584;
}
.heading a i {
  transform: rotate(45deg);
}

.mylisting .listing-box {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 10px;
  overflow: hidden;
}
.mylisting .listing-box img {
  transition: 0.4s all;
}
.mylisting .listing-box:hover img {
  transform: scale(1.2);
}
.mylisting .listing-box figure {
  overflow: hidden;
}
.mylisting .listing-box .list-text p {
  font-size: 0.9rem;
  color: gray;
}
.mylisting .listing-box .list-text .car-detail p {
  font-size: 0.8rem;
}

.about-sec .experience {
  letter-spacing: 8px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-35%, -50%);
  rotate: -90deg;
  font-size: 4rem;
}
.about-sec .experience span {
  letter-spacing: 15px;
}
.about-sec ul {
  list-style-type: none;
  padding: 0;
  line-height: 2.5;
  color: gray;
  font-size: 0.9rem;
}
.about-sec ul i {
  color: #004584;
  margin-right: 5px;
}

.chose-sec .chose-item .chose-box {
  box-shadow: 0px 5px 12px rgba(211, 211, 211, 0.25);
  border-radius: 10px;
  padding: 2.5rem;
}
.chose-sec .chose-item .chose-box p {
  font-size: 0.9rem;
}
.chose-sec .chose-item .chose-box:hover {
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
  transform: translateY(-11px);
  transition: transform 0.4s ease-in;
}
.chose-sec .chose-item .chose-box:hover i {
  color: #ffffff;
  background-color: #004584;
  border-radius: 3px !important;
  padding: 4px;
  box-shadow: 0 10px 25px rgba(47, 60, 78, 0.219) !important;
}

.blogs .blog-box img {
  transition: 0.4s all;
}
.blogs .blog-box:hover img {
  transform: scale(1.2);
}
.blogs .blog-box figure {
  border-radius: 10px;
  overflow: hidden;
}

footer .newletter form input {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5254901961);
  border: 1px solid #ffffff;
}
footer .newletter form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.631372549);
  font-size: 0.9rem;
}
footer .newletter form input::placeholder {
  color: rgba(255, 255, 255, 0.631372549);
  font-size: 0.9rem;
}
footer .newletter form button {
  border-radius: 100px;
  top: 50%;
  right: 0%;
  transform: translate(-9%, -50%);
}
footer .middle-footer .footer-box {
  list-style-type: none;
}
footer .middle-footer .footer-box img {
  width: 150px;
}
footer .middle-footer .links a:hover i {
  transform: rotate(0deg);
}
footer .middle-footer .links i {
  font-size: 25px !important;
  color: orangered;
  margin-right: 10px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.listing-search {
  padding: 24rem 0rem 0rem 0rem;
}

.listing {
  margin-top: -90px;
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}
.listing .listing-box {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 10px;
  overflow: hidden;
}
.listing .listing-box img {
  transition: 0.4s all;
}
.listing .listing-box:hover img {
  transform: scale(1.2);
}
.listing .listing-box figure {
  overflow: hidden;
}
.listing .listing-box .list-text p {
  font-size: 0.9rem;
  color: gray;
}
.listing .listing-box .list-text .car-detail p {
  font-size: 0.8rem;
}

.listing-pagination .page-item .page-link {
  border: 0;
  margin: 0 10px;
  width: 36px;
  text-align: center;
  color: #000000;
}
.listing-pagination .page-item:nth-child(1) .page-link {
  background-color: #004584;
  color: #ffffff;
  border-radius: 50px;
}
.listing-pagination .page-item:nth-last-child(1) .page-link {
  background-color: #004584;
  color: #ffffff;
  border-radius: 50px;
}
.listing-pagination .active {
  background-color: #004584 !important;
  color: #ffffff !important;
  border-radius: 50px;
}

.sell-car {
  height: calc(100vh - 40px);
  background: url(../images/car-2.png) no-repeat bottom/cover;
  overflow: hidden;
  position: relative;
}
.sell-car::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}
.sell-car .sell-car-heading h1 {
  font-size: 3rem;
}
.sell-car .sell-car-heading h1 span {
  border-radius: 10px;
}
.sell-car .sell-car-heading h4 {
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
}
.sell-car .bg-orange {
  background-color: orangered;
}
.sell-car .form-txt {
  width: 400px;
  border-radius: 10px 10px 0px 0px;
  margin-left: 100px;
}

.sell-form {
  background: url(../images/form-bg.png) no-repeat center/cover;
}
.sell-form .form {
  background-color: rgba(255, 255, 255, 0.5882352941);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
}
.sell-form .form input {
  border: 1px solid #000000;
}
.sell-form .form textarea {
  border: 1px solid #000000;
}

.car-finance {
  height: calc(100vh - 40px);
  background: url(../images/car-finance-bg.png) no-repeat bottom/cover;
  overflow: hidden;
  position: relative;
}
.car-finance::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  border-radius: 0px 0px 20px 20px;
}
.car-finance .sell-car-heading h1 {
  font-size: 3rem;
}
.car-finance .sell-car-heading h1 span {
  border-radius: 10px;
}
.car-finance .sell-car-heading h4 {
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
}
.car-finance .form-txt {
  width: 400px;
  border-radius: 10px 10px 0px 0px;
  margin-left: 100px;
}

.finance-items .finance-box {
  border-radius: 10px;
}
.finance-items .finance-box .step {
  width: 65px;
  border-radius: 100px;
}

.bg-orange {
  background-color: orangered;
}

/* *********'contact-us page*************'*/
.contact-us-page .about-image-top {
  background-image: url(../images/conatct-us.jpg) !important;
  height: 60vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
.contact-us-page .about-image-top::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contact-us-page .about-image-top h2 {
  color: #ffffff;
  text-shadow: 3px 3px #000000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 55px;
}

/* contact-form */
#contact {
  /*=============== BASE ===============*/
  /*=============== REUSABLE CSS CLASSES ===============*/
  /*=============== Contact-us-BUTTON ===============*/
  /*=============== CONTACT-Data ===============*/
  /* Move label up & sticky label */
  /*=============== MEDIA QUERIES ===============*/
  /* For small devices */
  /* For medium devices */
  /* For large devices */
}
#contact :root {
  --header-height: 3.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
#contact * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#contact ul {
  list-style: none;
}
#contact a {
  text-decoration: none;
}
#contact .container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
#contact .grid {
  display: grid;
  gap: 1.5rem;
}
#contact .section {
  padding-block: 4rem 2rem;
}
#contact .geometric-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: orangered;
  rotate: -30deg;
}
#contact .geometric-box::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  left: -5px;
  top: -5px;
}
#contact .main {
  overflow: hidden; /* For animation ScrollReveal */
}
#contact .button {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background-color: orangered;
  padding: 1.1rem 1.5rem;
  color: white;
  font-weight: 500;
  border-radius: 0.75rem;
  transition: background-color 0.4s;
}
#contact .button i {
  font-size: 1.25rem;
}
#contact .contact {
  padding-bottom: 0;
}
#contact .contact__container {
  position: relative;
  grid-template-rows: 300px max-content max-content;
  row-gap: 0;
}
#contact .contact__data {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #004584;
  border-radius: 0.75rem;
  padding: 3rem 1.5rem 3.5rem;
  margin-left: auto;
  border-bottom: solid 3px orangered;
  z-index: 5;
  transition: background-color 0.4s;
}
#contact .contact__data .section__title-2 {
  margin: 0 0 1.5rem;
  transform: translateX(-3rem);
  background-color: #ffffff;
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
}
#contact .contact__description-1 {
  color: white;
  font-weight: 500;
  margin-bottom: 2rem;
}
#contact .contact__description-2 {
  color: white;
  font-size: 500;
}
#contact .contact__data .geometric-box {
  top: 2rem;
  left: 2.5rem;
}
#contact .contact__mail {
  position: relative;
  background-color: wheat;
  border-radius: 0.75rem;
  padding: 5rem 1.5rem 2.5rem;
  margin-top: -2.5rem;
  transition: background-color 0.4s;
}
#contact .contact__title {
  color: black;
  font-size: 500;
  margin-bottom: 2rem;
  text-align: center;
}
#contact .contact__form,
#contact .contact__group {
  display: grid;
  row-gap: 1.25rem;
}
#contact .contact__form {
  position: relative;
}
#contact .contact__box {
  position: relative;
  width: 100%;
  height: 58px;
}
#contact .contact__input,
#contact .contact__button {
  font-size: 1rem;
  outline: none;
  border: 1px solid white;
}
#contact .contact__input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border: 1px solid orangered;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
}
#contact .contact__input::-moz-placeholder {
  color: black;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#contact .contact__input::placeholder {
  color: black;
  transition: opacity 0.4s;
}
#contact .contact__input:focus {
  border: 1.5px solid #004584;
}
#contact .contact__input:-webkit-autofill {
  -webkit-transition: background-color 6000s, color 6000s;
  transition: background-color 6000s, color 6000s;
}
#contact .contact__label {
  position: absolute;
  top: 8px;
  left: 10px;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #004584;
  padding: 4px;
  pointer-events: none;
  border-radius: 3px;
  transition: top 0.4s, opacity 0.4s, background-color 0.4s;
  opacity: 0;
}
#contact .contact__form .contact__area {
  height: 10rem;
}
#contact .contact__area textarea {
  resize: none;
  padding-top: 1rem;
}
#contact .contact__button {
  color: #ffffff;
  padding: 10px;
  background-color: orangered;
  cursor: pointer;
}
#contact .contact__input:not(:-moz-placeholder-shown) .contact__input:not(:focus) + .contact__label {
  opacity: 1;
  top: -16px;
}
#contact .contact__input:focus + .contact__label,
#contact .contact__input:not(:placeholder-shown) .contact__input:not(:focus) + .contact__label {
  opacity: 1;
  top: -16px;
}
#contact .contact__social {
  display: grid;
  row-gap: 1rem;
  background-color: orange;
  padding-block: 1rem 2rem;
  text-align: center;
}
#contact .contact__social-data {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
}
#contact .contact__social-links a {
  font-size: 1rem;
  color: #004584;
  text-align: center;
  border-radius: 50%;
  justify-content: center;
}
#contact .contact__social-links a:hover {
  color: orangered;
}
@media screen and (max-width: 340px) {
  #contact .container {
    margin-inline: 1rem;
  }
  #contact .contact__data {
    width: 100%;
  }
  #contact .contact__data .section__title-2 {
    transform: translateX(0);
  }
}
@media screen and (min-width: 576px) {
  #contact .contact__data {
    width: 350px;
    margin-inline: auto;
  }
  #contact .contact__container {
    grid-template-columns: 500px;
    justify-content: center;
  }
  #contact .contact__group {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  #contact .contact__social {
    background-color: transparent;
  }
  #contact .contact__social-arrow {
    filter: invert(1);
  }
}
@media screen and (min-width: 1150px) {
  #contact .container {
    margin-inline: auto;
  }
  #contact .section {
    padding-block: 7rem 2rem;
  }
  #contact .section__title-1::after,
  #contact .section__title-2::after {
    width: 70px;
    height: 48px;
  }
  #contact .contact__container {
    grid-template-columns: 440px 670px;
    grid-template-rows: initial;
    padding-bottom: 2rem;
  }
  #contact .contact__mail {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 7rem 5.5rem 7.5rem;
    margin-top: 0;
  }
  #contact .contact__title {
    font-size: 1.5rem;
    text-align: initial;
  }
  #contact .contact__box {
    height: 60px;
  }
  #contact .contact__form .contact__area {
    height: 11rem;
  }
  #contact .contact__button {
    margin-top: 1.25rem;
    width: -moz-max-content;
    width: max-content;
  }
  #contact .contact__data {
    width: 392px;
    height: 375px;
    padding: 4.5rem 3.5rem 3.5rem;
    margin: 7.5rem 0 0 8rem;
    border-bottom: 3px solid orangered;
  }
  #contact .contact__data .section__title-2 {
    margin: 0 0 2rem;
    transform: translateX(-6.5rem);
  }
  #contact .contact__social {
    margin-left: 8rem;
    text-align: initial;
  }
  #contact .contact__social-data {
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
  #contact .contact__social-arrow {
    width: 40px;
  }
  #contact .contact__message {
    bottom: -2.5rem;
  }
}

/********* about-us page ************** */
.about-us {
  border-radius: 80px 80px 0 0;
  border-top: 4px solid #004584;
  margin-top: -80px;
  background-color: white;
}
.about-us ul {
  list-style: none;
}
.about-us a {
  text-decoration: none;
}
.about-us .boxcar-title {
  margin-bottom: 51px;
  max-width: 445px;
}
.about-us .content-box {
  margin-top: 70px;
}
.about-us .content-box .text {
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 26px;
}

.faqs-section {
  margin-top: 90px;
  margin: 50px 0;
}
.faqs-section .wrapper {
  width: 70%;
}
.faqs-section h1 {
  margin-bottom: 20px;
}
.faqs-section .faq-container {
  background-color: white;
  color: black;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0px 5px 15px rgba(179, 179, 179, 0.168627451);
  border: 1px solid rgba(128, 128, 128, 0.1411764706);
}
.faqs-section .question {
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 80px 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.faqs-section .question::after {
  content: "+";
  font-size: 2.2rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
  color: #004584;
}
.faqs-section .question.active::after {
  transform: rotate(45deg);
  color: orangered;
}
.faqs-section .answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.faqs-section .answer {
  padding: 0 20px 20px;
  line-height: 1.5rem;
}
@media screen and (max-width: 790px) {
  .faqs-section html {
    font-size: 14px;
  }
  .faqs-section .wrapper {
    width: 80%;
  }
}

/******************** detail-page section *************** */
.detail-page {
  border-radius: 80px 80px 0 0;
  border-top: 4px solid #004584;
  margin-top: -80px;
  padding-bottom: 30px;
  background-color: #ffffff;
  /* sidebar */
}
.detail-page ul {
  list-style: none;
  padding-left: 0%;
}
.detail-page a {
  text-decoration: none;
}
.detail-page .boxcar-title {
  margin-bottom: 51px;
}
.detail-page .boxcar-title .spectes-list li {
  font-size: 15px;
  color: black;
  display: inline-block;
  border-radius: 120px;
  background-color: #E9F2FF;
  padding: 7px 15px 5px;
}
.detail-page .boxcar-title .spectes-list .about-text {
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 20px;
  font-weight: 400;
}
.detail-page .content-box {
  float: end;
  text-align: right;
}
.detail-page .inspection-column {
  /* overview */
  /* description-section */
  /* features-sec */
}
.detail-page .inspection-column .overview-sec {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 30px;
}
.detail-page .inspection-column .overview-sec .content-column li {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.detail-page .inspection-column .overview-sec .content-column li span {
  display: inline-block;
  width: 198px;
}
.detail-page .inspection-column .description-sec {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 50px;
}
.detail-page .inspection-column .features-sec {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 30px;
}
.detail-page .inspection-column .features-sec .feature-list li {
  font-size: 15px;
  color: #050b20;
  margin-bottom: 15px;
}
.detail-page .inspection-column .features-sec .feature-list li i {
  color: #405FF2;
  background-color: #eef0fc;
  width: 21px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 10px;
}
.detail-page .side-bar-column {
  margin-top: 4.5rem;
  color: #000000;
}
.detail-page .side-bar-column .contact-box {
  border-radius: 16px;
  border: 1px solid #E1E1E1;
  padding: 30px 30px 26px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
  background-color: white;
}
.detail-page .side-bar-column .contact-box .contact-list i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  background-color: #E9F2FF;
}
.detail-page .side-bar-column .contact-box .side-btn {
  background-color: #004584;
  color: white;
  font-size: 15px;
  font-weight: 500;
  height: 45px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #004584; /* semi-transparent white background */
  z-index: 1000; /* ensure loader is on top */
  transition: opacity 0.3s ease; /* smooth fade-in/out transition */
  pointer-events: none; /* allow interaction with content behind loader */
}

.loader img {
  width: 500px;
  animation: rotate 4s linear forwards; /* Adjust duration and timing function as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* start from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* end at 360 degrees (full circle) */
  }
}
body.loaded .loader {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ---------------------------------- */
@media (max-width: 767px) {
  .contact-us-page .about-image-top h2 {
    font-size: 40px;
    text-align: center;
  }
  .car-finance .sell-car-heading h1 {
    font-size: 1.2rem;
  }
  header {
    top: 88px;
  }
  header .logo img {
    width: 150px;
  }
  .sticky .sticky-logo img {
    width: 150px;
  }
  .hero-sec .swiper-slide h1 {
    font-size: 2.5rem;
  }
  .category .category-box h5 {
    position: relative !important;
  }
  .hm-contact-text .heading {
    position: relative !important;
  }
  .search-bar {
    position: relative !important;
    width: 100%;
  }
  .search-bar .search-sec .nav-pills {
    width: 100%;
  }
  .search-bar .search-sec .nav-pills .nav-item {
    width: 100%;
  }
  .search-bar .search-sec .nav-pills .nav-link {
    width: 100%;
    margin: 5px 0px !important;
  }
  .search-bar .price-range-slider {
    width: 100%;
  }
  .sell-car .sell-car-heading h1 {
    font-size: 2rem;
  }
  .sell-car {
    height: 100% !important;
  }
  .sell-car .form-txt {
    width: 100%;
    position: relative !important;
    margin-left: 0;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  header {
    top: 40px;
  }
  header .logo img {
    width: 150px;
  }
  .sticky .sticky-logo img {
    width: 150px;
  }
  .hero-sec .swiper-slide h1 {
    font-size: 2.5rem;
  }
  .category .category-box h5 {
    position: relative !important;
  }
  .hm-contact-text .heading {
    position: relative !important;
  }
  .listing {
    margin-top: 0rem;
  }
  .search-bar {
    position: relative !important;
    width: 100%;
    top: 0;
    left: 0;
    transform: inherit;
  }
  .search-bar .search-sec .nav-pills {
    width: -moz-max-content;
    width: max-content;
  }
  .listing-search {
    padding: 5rem 0rem 0rem 0rem;
  }
  .car-finance .sell-car-heading h1 {
    font-size: 1.5rem;
  }
  .sell-car {
    height: 100% !important;
  }
  .sell-car .form-txt {
    position: relative !important;
    margin-left: 0;
  }
}
@media (max-width: 4000px) and (min-width: 1025px) {
  .search-bar {
    position: absolute !important;
    width: 100%;
  }
  .search-bar .search-sec .nav-pills {
    width: -moz-max-content;
    width: max-content;
  }
}/*# sourceMappingURL=style.css.map */